@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth !important;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply box-border;
  }
  body {
    @apply overflow-x-hidden;
  }
  img {
    @apply w-full h-full object-cover;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !font-body m-0;
  }
  p {
    @apply !text-16 leading-28 font-400 font-opensans;
  }
  h1 {
    @apply lgscreen:text-60 leading-74 small_desktop1:text-42 small_desktop1:leading-46 tracking-normal xxsscreen1:!text-22 xxsscreen1:!leading-32 !font-400;
  }
  h2 {
    @apply small_desktop:!text-48 small_desktop:!leading-[58px] !font-700 !text-38 !leading-40 mdscreen:!text-28 mdscreen:!leading-30 tracking-normal;
  }
  h3 {
    @apply small_desktop:!text-40 small_desktop:!leading-[44px] !text-36 !leading-40 mdscreen:!text-26 mdscreen:!leading-30;
  } 
  h4 {
    @apply !text-32 !leading-[44px] mdscreen:!text-28 mdscreen:!leading-30;
  }
  h5 {
    @apply !text-24 !leading-[26px];
  }  
  .grid-container {
    @apply px-100 xlscreen3:px-60 lgscreen:!px-30;
  }
  .grid-container-lg {
    @apply px-55 xlscreen4:px-30;
  }
  a {
    @apply inline-block transition-all duration-500 ease-in-out;
  }
}
@layer components {
  .btn {
    @apply inline-block leading-[normal] !text-16 !leading-26 !font-300 !font-body capitalize !flex w-fit items-center !no-underline;
  }
  .green-btn {
    @apply capitalize inline-block leading-[normal] font-body text-white py-14 px-32 rounded-full bg-green transition-all duration-500 ease-in-out;
  }
  .green-btn:hover {
    @apply text-green py-14 px-32 bg-transparent border-1 border-green border-solid;
  }
  .green-btn-xl {
    @apply inline-block leading-[normal] font-body text-white py-13 px-40 uppercase rounded-full bg-green transition-all duration-500 ease-in-out;
  }
  .green-btn-xl:hover {
    @apply text-green py-13 px-40 bg-transparent border-1 border-green border-solid;
  }
  .white-btn {
    @apply capitalize inline-block leading-[normal] font-body rounded-full text-green py-14 px-32 bg-white transition-all duration-500 ease-in-out;
  }
  .white-btn:hover {
    @apply text-white py-14 px-32 bg-transparent border border-white border-solid;
  }
  .white-btn-xl {
    @apply inline-block leading-[normal] font-body text-green uppercase py-13 px-40 rounded-full bg-white transition-all duration-500 ease-in-out;
  }
  .white-btn-xl:hover {
    @apply text-white py-13 px-40 bg-transparent border border-white border-solid;
  }
  .btn-green-xxl{
    @apply inline-block leading-[normal] font-body uppercase font-300 text-green py-10 !px-50 bg-green transition-all duration-500 ease-in-out;
  }
  .btn-green-xxl:hover{
    @apply text-green py-10 px-50 bg-transparent border-1 border-green border-solid;
  }
}

@layer utilities {
  .header a {
    @apply font-300;
  }
  .tabs .active {
    @apply border-1 border-solid border-green text-green leading-[normal];
  }
  .menus li img, .menu-icone li img {
    @apply w-[16px] h-[16px] object-contain;
  }
  .fotter .footer-container ul li a{
    @apply font-body font-300;
  }
  .fotter .footer-container ul li a:hover {
    @apply scale-[1.1];
  }
  .header .logo img {
    @apply  max-w-[160px];
  }
  .custom-class-0 a, .custom-class-2 a {
    @apply text-14;
  }
  .custom-class-1 {
    @apply justify-center;
  }
  .custom-class-2 {
    @apply justify-end;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* Teodor Trial Font */
@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Regular-BF672198fb97abe.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-RegularItalic-BF672198fb9e4d5.otf")
    format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Medium-BF672198fb97adf.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-MediumItalic-BF672198fb9959d.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Bold-BF672198fba5748.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-BoldItalic-BF672198fba1bbd.otf")
    format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Light-BF672198fb5c0ea.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-LightItalic-BF672198fb97af6.otf")
    format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Thin-BF672198fb9fdb1.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-ThinItalic-BF672198fb9f370.otf")
    format("opentype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-ExtraBold-BF672198fa9f2a0.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-ExtraBoldItalic-BF672198fb53abe.otf")
    format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-Heavy-BF672198fb5455e.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Teodor Trial";
  src: url("/fonts/TeodorTRIAL-HeavyItalic-BF672198fb57872.otf")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Gill Sans Regular */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans Italic */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Gill Sans Medium */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans Medium Italic */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Medium Italic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Gill Sans Bold */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans Bold Italic */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Bold Italic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Gill Sans Light */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans Light Italic */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Light Italic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Gill Sans Heavy */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Gill Sans Heavy Italic */
@font-face {
  font-family: "Gill Sans";
  src: url("/fonts/Gill Sans Heavy Italic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* --- Gill Sans Condensed Font Faces --- */

/* GillSans Condensed Regular */
@font-face {
  font-family: "Gill Sans Condensed";
  src: url("/fonts/GillSans Condensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* GillSans Condensed Bold */
@font-face {
  font-family: "Gill Sans Condensed";
  src: url("/fonts/GillSans Condensed Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Apply the font */
/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Teodor Trial", "Gill Sans", sans-serif;
} */

.swiper-pagination-bullet {
  background: transparent !important;
  margin: 10px !important;
  padding-bottom: 10px !important;
  bottom: 0;
}

.footer-img-line {
  position: relative;
  height: 100%;
}

.footer-line-left, .footer-line-right {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  height: 1px;
  width: 100%;
}

.swiper-pagination-bullet-active {
  color: white; /* Active bullet fill */
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) path {
  color: rgb(249 244 239 / 74%);
}

body:has(.age-popup) {
  overflow: hidden;
}
